@media (max-width: 1024px) {
  .title-content {
    width: 100%;
  }

  .about-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
