<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/base/favicon.ico" />
    <title>AI for Clinicians - Join the Waitlist</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/community/styles/main-community.css">
    <link rel="stylesheet" href="/community/styles/coming-soon.css">
    <link rel="stylesheet" href="/community/styles/landing-page.css">
    <link rel="stylesheet" href="/community/styles/memberships.css">
    <link rel="stylesheet" href="/assets/css/theme-switch.css">
    <link rel="stylesheet" href="/community/styles/toggle.css">
    <link rel="stylesheet" href="/community/styles/tooltip.css">
    <link rel="stylesheet" href="/community/styles/waitlist.css">

    <!-- Media Queries -->
    <link rel="stylesheet" href="/community/styles/media-queries/max-width-640.css">
    <link rel="stylesheet" href="/community/styles/media-queries/max-width-1300.css">


    <!-- JS -->
    <script src="/community/scripts/coming-soon.js"></script>
    <script src="/community/scripts/landing-page.js"></script>
    <script src="/community/scripts/memberships.js"></script>
    <script src="/community/scripts/waitlist.js"></script>
    <script src="/assets/js/theme-switch.js"></script>
    <script src="/community/scripts/pricing-toggle.js"></script>
</head>

<body>
    <div class="background-pattern"></div>

<div class="container">
    
    <header class="c-header">
        <div class="c-logo-container">
            <div class="c-logo">AI for <span class="c-logo-accent">Clinicians</span></div>
            <div class="c-logo-underline"></div>
        </div>
        <div class="c-tagline">What you need to know about AI from other clinicians</div>
    </header>
<!-- 
    {% if page.title != "AI for Clinicians Community" %}
        <button id="theme-switch" class="theme-switch-button" aria-label="Toggle theme">
            <span class="theme-icon-light">☀️</span>
            <span class="theme-icon-dark">🌙</span>
        </button>
    {% endif %} -->

    <main>
        {{ content }}
    </main>
    <footer class="c-footer">
        <p>&copy; 2025 AI for Clinicians.</p>
    </footer>
</body>