<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} · {{ site.title }}</title>
    <meta
      name="description"
      content="{{ page.description | default: site.description }}"
    />
    {%- seo -%}
    <!-- inserts canonical, OG, Twitter, etc. -->

    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/base/favicon.ico' | relative_url }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit" defer></script>

    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/banner.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/booking-modal.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/cards.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-header.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/tooltip.css' | relative_url }}" />

    <!-- Media Queries -->
    <link rel="stylesheet" href="{{ '/assets/css/media-queries/max-width-480.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/media-queries/max-width-768.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/media-queries/min-width-768.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/media-queries/min-width-1024.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/media-queries/print.css' | relative_url }}" />

    <!-- Page Styles -->
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/beta-apps.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/calculator.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/comparisons.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/standards.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/compliance.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/landing-page.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/page-styles/provisional-psychologists.css' | relative_url }}" />

    <!-- Page Scripts -->
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/banner.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/calculator.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/email-verified.js' | relative_url }}"></script>

  </head>
  <body>
    {% include nav-bar.html %}
    {% include banner.html %}
    <!-- {% if page.subnav %} {% include sub-nav.html %} {% endif %} -->

    <main id="main" role="main">
      {% include booking-modal.html %}
      {% include email-verified.html %}
      {{ content }}
    </main>

    <footer class="site-footer" role="contentinfo">
      <small>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</small>
      <br /><small>By Psychology Squared Pty Ltd </small>
    </footer>
  </body>
</html>
